<h1>Tournament {{tourney.id}}</h1>
<p>This Tournament is held on {{ tourney.date }}.<p>

{% if my_cars %}
<h2>Participating Cars</h2>
<ul>
   {% for c in my_cars %}
      <li>{{ c }}</li>
   {% endfor %}
</ul>

{% if my_races %}
<h2>Races</h2>
    <ul>
    {% for r in my_races %}
        <li>
           <div style="display: flex;">
              <p>{{ r }}</p>
              {% if not r.start_time %}
              <form action="#" method="get" style="margin: 13 13 13 13">
                 <input type="hidden" value="{{r.id}}" name="raceid" id="raceid" size="1" />
                 <input type="submit" class="btn" value="Start Race" name="startracebtn" id="startracebtn">
              </form>
              {% else %}
              <p>Started at {{r.start_time}}</p>
              {% endif %}
           </div>
        </li>
        <ul>
        {% for c in r.racers.all %}
        <li>{{ c }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>

{% else %}
    <p>There are NO races generated for this event.  Oops :(</p>
{% endif %}

{% else %}
    <p>There are no cars registered for this event.  <a href="{% url 'tourneyz:edit' tourney.id %}">Please add some racers!.</a></p>
{% endif %}
