<h1>Tournament {{tourney.id}}</h1>
<p>This Tournament is held on {{ tourney.date }}.<p>

{% load tz %}

{% if my_cars %}
<h2>Participating Cars</h2>
{% if not next_race and results %}
<ol>
   {% for c in results %}
      <li><p>{{ c.0 }} with average Elapsed Time of {{ c.1 }} seconds.</li>
   {% endfor %}
</ol>
{% else %}
<ul>
   {% for c in my_cars %}
      <li>{{ c }}</li>
   {% endfor %}
</ul>
{% endif %}

{% if my_races %}
<h2>Races</h2>
    <ul>
    {% for r in my_races %}
        <li>
           <div style="display: flex;">
              <p>{{ r }}</p>
              {% if live_race == r.id %}
              {% if r.start_time == 0 %}
              <p style="margin: 13 13 13 13" id="count_down_p"></p>
              <script>

function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

function getResults(onData) {
fetch("/tourneys/race_result", {
  method: "POST",
  credentials: "same-origin",
  headers: {
    "X-Requested-With": "XMLHttpRequest",
    "X-CSRFToken": getCookie("csrftoken"),
  },
  body: JSON.stringify({raceid: "{{r.id}}"})
})
.then(response => response.json())
.then(data => {
  if (onData) {
     onData(data);
  }
});
}

// Set the date we're counting down to
var wait_for = 15;
document.getElementById("count_down_p").innerHTML = wait_for;

// Update the count down every 1 second
var x = setInterval(function() {

  if (wait_for > 0) {
     wait_for = wait_for - 1;
     document.getElementById("count_down_p").innerHTML = wait_for;
  }
  else {
     document.getElementById("count_down_p").innerHTML = "GO!";
     clearInterval(x);
     var y = setInterval(function() {
       getResults(function(data) {
          console.log(data);
          if (data.start_time > 0) {
             clearInterval(y);
             //location.reload();
             window.location.href = "{% url 'tourneyz:run' tourney.id %}"; 
          }
       });
    }, 1000);
  }
}, 1000);

</script>
              {% endif %}
              {% endif %}
              {% if next_race == r.id %}
              <form action="#" method="get" style="margin: 13 13 13 13">
                 <input type="hidden" value="{{r.id}}" name="raceid" id="raceid" size="1" />
                 <input type="submit" class="btn" value="Start Race" name="startracebtn" id="startracebtn">
              </form>
              {% elif r.start_time > 0 %}
              {% localtime on %}
              <p>: Started at {{r.time_of_start}} <a href="{% url 'tourneyz:run' tourney.id %}">Refresh</a></p>
              {% endlocaltime %}
              {% endif %}
           </div>
        </li>
        <ol>
        {% if r.start_time > 0 %}
        {% for c in r.trials %}
        <li>{{ c }}</li>
        {% endfor %}
        {% else %}
        {% for c in r.racers_by_lane %}
        <li>{{ c }}</li>
        {% endfor %}
        {% endif %}
        </ol>
    {% endfor %}
    </ul>

{% else %}
    <p>There are NO races generated for this event.  Oops :(</p>
{% endif %}

{% else %}
    <p>There are no cars registered for this event.  <a href="{% url 'tourneyz:edit' tourney.id %}">Please add some racers!.</a></p>
{% endif %}
